name: ci

on:
    - push
    - pull_request

jobs:
    lint:
        # We want to run on external PRs, but not on our own internal PRs as they'll be run
        # by the push to the branch. Without this if check, checks are duplicated since
        # internal PRs match both the push and pull_request events.
        if:
            github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
            github.repository

        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 20

            - run: npm ci

            - run: ./lint.sh

    build-docker-image:
        name: Build Docker image for ${{ github.ref_name }}
        runs-on: ubuntu-22.04
        if: github.event_name == 'push'
        concurrency:
            group: ${{ github.workflow }}-build-docker-image-${{ github.ref_name }}
            cancel-in-progress: true
        needs:
            - lint
        steps:
            - name: Set ghcr repository name
              id: set-ghcr-repository
              run: |
                  ghcr_name=$(echo "${{ github.repository }}" | awk '{ print tolower($0) }')
                  echo "Name is ${ghcr_name}"
                  echo "ghcr-repository=${ghcr_name}" >> $GITHUB_OUTPUT

            - name: Gather Docker metadata
              id: docker-meta
              uses: docker/metadata-action@v5
              with:
                  images: |
                      ghcr.io/${{ steps.set-ghcr-repository.outputs.ghcr-repository }}
                  tags: |
                      # Tag branches with branch name
                      type=ref,event=branch
                      # Process semver tags
                      # For a tag x.y.z or vX.Y.Z, output an x.y.z and x.y image tag
                      type=semver,pattern={{version}}
                      type=semver,pattern={{major}}.{{minor}}

            - uses: actions/checkout@v4

            - uses: docker/setup-buildx-action@v3

            - uses: docker/setup-qemu-action@v3
              with:
                  platforms: arm64

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./Dockerfile
                  platforms: linux/amd64,linux/arm64
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.docker-meta.outputs.tags }}
                  labels: ${{ steps.docker-meta.outputs.labels }}

            - name: Inspect image
              run: |
                  docker buildx imagetools inspect ${{ fromJSON(steps.docker-meta.outputs.json).tags[0] }}
